body {
	background: red;
	font-size: 13px;
}

/*@telecept someTable.css*/
.someTable {
	font-size: 16px;
}
/*@end-telecept*/

/*@telecept header.css*/
.header {
	background: green;
}
/*@end-telecept*/

/*@telecept someTable.css*/
.someTable tr {
	border-style: none;
}
/*@end-telecept*/
